body {
    text-align: center;
    margin: 0;
}

ul {
    float: left;
      list-style-type: none;
      padding: 0;
      width: 4%;
      text-align: center;
}
li {
    border: 1px solid black;
    padding: 0;
}

.fretboard {
    margin: 0 10px;
}